<ion-header>
  <ion-toolbar color="primary">
    <ion-title>contact-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
    
  <ion-card>
    <ion-card-content>

   
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"  required [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="tel" required [(ngModel)]="contact"></ion-input>
    </ion-item>
  <br>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
   <br>
  <ion-button fill="outline"  type="submit" (click)="sendsms({'name':name,'contact':contact})">
    Submit<ion-icon name="caret-forward-outline"></ion-icon></ion-button>
 

</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
